---
const platform = "github";
const username = "withastro";
import Social from './Social.astro';
---

<!-- <style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style> -->

<footer class="site-footer">
  <div class="footer-left">
    Learn more about my projects on <a href={`https://www.${platform}.com/${username}`} target="_blank">{platform}</a>!
  </div>
  <div class="footer-right">
    <Social platform="twitter" username="astrodotbuild" />
    <Social platform="github" username="withastro" />
    <Social platform="youtube" username="astrodotbuild" />
  </div>
</footer>
