---
import Layout from './layouts/BaseLayout.astro'; // If using a global layout
---



<Layout page="Contact">
  <section class="contact-section">
    <div class="contact-left">
      <h1>Contact Me</h1>
      <p>Have a project in mind or just want to say hi?<br> I'd love to hear from you!</p>
      <p>Need my CV?<a href="/Aishani-CV.pdf" target="_blank" rel="noopener noreferrer"> Click here</a>.</p>
      <p> <a href="mailto:soodaishani6@gmail.com">soodaishani6@gmail.com</a></p>
      
      <!-- <div>
        <a href="#"><i class="fab fa-facebook-f">f</i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div> -->
    </div>
    <div class="contact-right">
      <form>
        <input type="text" placeholder="First name *" required />
        <input type="text" placeholder="Last name *" required />
        <input type="email" placeholder="Email *" required />
        <input type="text" placeholder="Subject" />
        <textarea rows="4" placeholder="Leave us a message..." required></textarea>
        <button type="submit">Submit</button>
      </form>
    </div>
  </section>
</Layout>
