---
import BaseLayout from './layouts/BaseLayout.astro';
---
<BaseLayout page="Home">
  <div class="hero-text-container">
    <h1 id="typewriter"></h1>
  </div>


  <script src="/scripts/typing.js" defer></script>
</BaseLayout>
